<h1>尾鷲市高齢者介護予防事業</h1>
<p>見切り発車の情報共有システム</p>

<%= form_tag("/home/course", {multipart: true}) do %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">コースリスト</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">一覧 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts/courseNew">コース登録</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home/top">利用者リスト</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-warning">
          <%= link_to("ログアウト", "/logout" , {method: :post}) %>
          </button>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input name="kensaku" class="form-control mr-sm-2 w-25" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
      </form>
    </div>
  </nav>
<% end %>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>コース名</th>
      <th>実施日</th>
      <th>写真１</th>
      <th>場所</th>
      <th>出席簿</th>
      <th>伝達事項</th>
      <th>参加者</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do|course| %> 
    <tr>
      <th scope="row"><%= link_to("編集", "/posts/courseShow/#{course.id}") %></th>
      <td><p class="text-contents text-left"><%= course.name %></p></td>
      <td><p class="text-contents text-left"><%= course.zissiYmd %></p></td>
      <td>
        <% if course.syasin1? %>
          <%= image_tag course.syasin1.thumb.url %>
        <% else %>
          <%= image_tag "/user_images/default_image.jpg" %>
        <% end %>
      </td>
      <td><p class="text-contents text-left"><%= course.course1 %></p></td>
      <td><p class="text-contents text-left"><%= course.course2 %></p></td>
      <td><p class="text-contents text-left"><%= course.course10 %></p></td>
      <th scope="row"><%= link_to("リスト", "/home/setCourseId/#{course.id}") %></th>
    </tr>
    <% end %>
  </tbody>
</table>
