<nav class="nav bg-info">
  <p class="nav-link text-white mr-auto">利用者情報</p>
  <a class="nav-link text-white" href="/home/top">一覧へ</a>
  <button type="button" class="btn btn-warning">
    <%= link_to("ログアウト", "/logout" , {method: :post}) %>
  </button>
</nav>

  <div class="row border">
    <div class="col-4 mt-3">
      <img class="d-block mx-auto img-thumbnail" src="<%= "/user_images/#{@riyosya.syasin}" %>" >
      <p class="text-center"><%= @riyosya.riyosyaId %> : <%= @riyosya.simei %></p>
      <div class="text-center">
        <button type="button" class="btn btn-success" onclick="<%= "location.href='/posts/show'" %>" >個人情報編集</button>
      </div>
      
    </div>
    <div class="col-8 border">
      <div class="row m-1">
        <div class="col-4 font-weight-bold border bg-success text-white">
          生年月日
        </div>
        <div class="col-8 border">
          <%= @riyosya.birthYmd %>
        </div>
        <div class="col-4 font-weight-bold border bg-success text-white">
          住所
        </div>
        <div class="col-8 border">
          <%= @riyosya.zyusyo %>
        </div>
        <div class="col-4 font-weight-bold border bg-success text-white">
          地区
        </div>
        <div class="col-8 border">
          <%= @riyosya.tiku %>
        </div>
        <div class="col-4 font-weight-bold border bg-success text-white">
          連絡先
        </div>
        <div class="col-8 border">
          <%= @riyosya.rireki %>
        </div>
      </div>
      <h5>□心身機能</h5>
      <textarea class="w-100"><%= @riyosya.kenko %></textarea>
      <h5>□伝達事項</h5>
      <textarea class="w-100"><%= @riyosya.biko %></textarea>
    </div>


  </div>
  
  <ul class="nav nav-tabs mt-3">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle active" data-toggle="dropdown"
         href="#" role="button" aria-haspopup="true" aria-expanded="false">
         運動</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="<%= "/posts/undoNew" %>">運動　新規追加</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= "/home/ninti" %>">認知症</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= "/home/koukou" %>">口腔機能</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= "/home/eiyo" %>">栄養改善</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= "/home/riyosyaSanka" %>">参加教室</a>
    </li>
  </ul>
  
  <div class="row border">
    <div class="col-1 border bg-info">
      <p class="text-center text-white">-</p>
    </div>
    <div class="col-2 border bg-info">
      <p class="text-center text-white">年月</p>
    </div>
    <div class="col-2 border bg-info">
      <p class="text-center text-white">テーマ</p>
    </div>
    <div class="col-2 border bg-info">
      <p class="text-center text-white">体重</p>
    </div>
    <div class="col-2 border bg-info">
      <p class="text-center text-white">身長</p>
    </div>
    <div class="col-3 border bg-info">
      <p class="text-center text-white">5回椅子立ち上がり</p>
    </div>

    <% @undos.each do|undo| %> 
      <div class="col-1 border">
        <%= link_to "選択", posts_undoShow_path(:id => "#{undo.id}", :ymd => "#{undo.kirokuYmd}") %>
      </div>
      <div class="col-2 border">
        <p class="text-center"><%= undo.kirokuYmd %></p>
      </div>
      <div class="col-2 border">
        <p><%= undo.undo1 %></p>
      </div>
      <div class="col-2 border">
        <p><%= undo.undo2 %></p>
      </div>
      <div class="col-2 border">
        <p><%= undo.undo3 %></p>
      </div>
      <div class="col-3 border">
        <p><%= undo.undo4 %></p>
      </div>
    <% end %>

  </div>
  