<nav class="nav bg-info">
  <p class="text-white mr-auto padding">認知症プログラム評価登録</p>
  <a class="nav-link text-white" href="/home/ninti">戻る</a>
  <a class="nav-link text-white" href="/home/top">一覧へ</a>
  <button type="button" class="btn btn-warning">
    <%= link_to("ログアウト", "/logout" , {method: :post}) %>
  </button>
</nav>

    <%= form_for(@ninti, url: posts_nintiCreate_path) do |form| %>
        <% @ninti.errors.full_messages.each do |message| %>
            <div class="alert alert-danger" role="alert">
                <%= message %>
            </div>
        <% end %>
        <div class="m-1 row">
            <div class="col-lg-4 border">
                <p class="text-contents text-center">利用者ID</p>
            </div>
            <div class="col-lg-8 border">
                <%= form.text_field :riyosyaId, value: @riyosya.riyosyaId, readonly: true %>
            </div>
            <div class="col-lg-4 border">
                <p class="text-contents text-center">記録日</p>
            </div>
            <div class="col-lg-8 border">
                <%= form.text_field :kirokuYmd %>
            </div>
            <div class="col-lg-4 border">
                <p class="text-contents text-center">認知症１</p>
            </div>
            <div class="col-lg-8 border">
                <%= form.text_field :ninti1, class: "w-100" %>
            </div>
            <div class="col-lg-4 border">
                <p class="text-contents text-center">認知症２</p>
            </div>
            <div class="col-lg-8 border">
                <%= form.text_area :ninti2, class: "w-100" %>
            </div>
            <div class="col-lg-4 border">
                <p class="text-contents text-center">認知症３</p>
            </div>
            <div class="col-lg-8 border">
                <%= form.text_area :ninti3, class: "w-100" %>
            </div>
            <div class="col-lg-4 border">
                <p class="text-contents text-center">認知症４</p>
            </div>
            <div class="col-lg-8 border">
                <%= form.text_area :ninti4, class: "w-100" %>
            </div>
            <div class="col-lg-4 border">
                <p class="text-contents text-center">認知症５</p>
            </div>
            <div class="col-lg-8 border">
                <%= form.text_area :ninti5, class: "w-100" %>
            </div>
            <div class="col-lg-4 border">
                <p class="text-contents text-center">　</p>
            </div>
            <div class="col-lg-8 border">
                <input type="submit" value="登録">
            </div>
        </div>
    
    <% end %>